@import '../../style.scss';

.menu{
    display: flex;
    justify-content: center;

}

.img{
    width: 150px;
}



.option{
    margin: 50px;
}

@mixin option-style{
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(179, 176, 176) 2px 10px 10px;
}

.option:hover{
    background-color: rgb(165, 165, 167);
}

@media screen and (min-width: 1025px) {

    .option{
        width: 200px;
        height: 200px;
        @include option-style;
    }
  
  }
  
  @media screen and (max-width: 1024px) {
   
    .option{
        width: 200px;
        height: 200px;
        @include option-style;
    }
  
  }
  
  @media screen and (max-width: 768px) {
   
    .option{
        width: 200px;
        height: 200px;
        @include option-style;
    }
  
  }
  
  @media screen and (max-width: 480px) {
  
    .option{
        width: 100px;
        height: 100px;
        @include option-style;
    }

    .img{
        width: 70px;
    }
  }