.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.img{
    width: 40px;
    padding: 5px;
     margin-left: 10px;
}

.start{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(111, 164, 233);
}


